@charset "utf-8";
*{ margin:0; padding:0;}
body{
    background: #fff;
    overflow:hidden;
}
/*设置景深*/
.perspective{
    perspective:800px;
}
/*元素展开时容器撑开*/
.wrap-vhidden{
    margin: 0 !important;
    transform: none !important;
    position: relative;
    width:calc(100vw);
    height: calc(100vh);
    overflow: hidden;
}
/*非当前元素隐藏*/
.wrap-vhidden .wrap-item:not(.wrap-view){
    visibility: hidden;
    display: none;
}
.wrap-vhidden .end-wrap{
    display: none;
}
/*3d容器*/
.wrap{
    width:120px;  /*133:200  4:6  */
    height:180px;
    margin:0 auto;
    position:relative;

    /*搭建3D效果必须的两个属性：一个变换风格变3d，一个场景景深800px*/
    transform-style:preserve-3d;
    transform:rotateX(-10deg) rotateY(0deg);

}
/*元素样式，倒影*/
.wrap .wrap-item{
    width:100%;
    height:100%;
    position:absolute;
    border-radius:1px;
    cursor: pointer;

    /*每个元素内部要立体显示，需要将当前元素标识为3d变换*/
    perspective: 1000px;
    transform-style: preserve-3d;

    transform:rotateY(0deg) rotateZ(10deg) translateZ(0px);
    user-select: none;
    -webkit-user-select: none;
    box-shadow: 0 0 10px #bbc;
}

.box-reflect{
    /*倒影：朝向 偏移 遮盖*/
    /*线性渐变(从哪里开始,开始时候的颜色,结束时候的颜色)*/
    -webkit-box-reflect:below 3px -webkit-linear-gradient(top,rgba(0,0,0,0) 60%,rgba(0,0,0,0.5) 100%);
}

/*内容容器，默认缩小.5*/
.wrap-item>.wrap-content{
    transform: scale(0.1);/*缩小至0.1*/
    position: absolute;
    transform-origin: 0 0;
    transform-style:unset;
    /*此处最大宽高放大10倍*/
    width: 1000%;
    height: 1000%;
    overflow: hidden;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}
/*背景图片充满容器*/
.wrap-item>.wrap-item-bg{
    width:100%;
    height:100%;
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    z-index: -1;
}
/*镜面*/
.wrap >.end-wrap{
    width:1200px;
    height:1200px;
    background:-webkit-radial-gradient(center center,50% 50%, rgba(71, 69, 145, 0.23),rgba(0,0,0,0));
    border-radius:100%;
    position:absolute;
    left:50%;
    top:102%;
    margin:-600px 0 0 -600px;
    transform:rotateX(90deg) translateZ(-15px);
    text-align: center;
    vertical-align: middle;
    line-height: 1200px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}
/*展开视图时宽高充满*/
.wrap-item.wrap-view{
    position: absolute;
    top:10px;
    left: 10px;
    width:calc(100% - 20px);
    height:calc(100% - 20px);
    min-height: 200px;
    transform: none !important;
    transition: transform 300ms linear 0s !important;
    z-index: 1000;
    background-color:#eee;
}
/*收起时过渡*/
.wrap-item.wrap-transition{
    transition: transform 300ms linear 0s !important;
}
/*展开时背景模糊*/
.wrap-item.wrap-view>.wrap-item-bg{
    filter:blur(6px);
}
/*展开时元素比例不愿*/
.wrap-item.wrap-view>.wrap-content{
    transform: scale(1);
    max-width:calc(99%);
    max-height:calc(95% - 20px);
    left:0.5%;
    overflow: auto;
}

/*元素立体形状,玻璃质感效果。注意：此时元素本身不能叠加使用倒影效果，两者会冲突*/
/*此时倒影效果只能应用在此容器内部元素上*/

.wrap-item-front,.wrap-item-back,.wrap-item-left,.wrap-item-right,.wrap-item-top,.wrap-item-bottom{
    position: absolute;
}

.wrap-item-left,.wrap-item-right{
    width:10px;
    height: 100%;
    background-color:rgba(200,200,200,0.5);
    transform-origin: left;
    z-index: -10;
}

.wrap-item-top,.wrap-item-bottom{
    width:100%;
    height: 10px;
    background-color:rgba(200,200,200,0.6);
    transform-origin: top;
    z-index: -10;
}

.wrap-item-front,.wrap-item-back{
    width:100%;
    height: 100%;
    transform-origin: top;
}
.wrap-item-back{
    -webkit-transform:translateZ(-10px);
    -moz-transform:translateZ(-10px);
    -ms-transform:translateZ(-10px);
    -o-transform:translateZ(-10px);
    transform:translateZ(-10px);
    z-index: -11;
    background-color:rgba(200,200,180,.3);
}
.wrap-item-left{
    transform:rotateY(90deg);
}

.wrap-item-right{
    transform: translateX(120px) rotateY(90deg);
}

.wrap-item-top{
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.wrap-item-bottom{
    -webkit-transform:  translateY(180px) rotateX(-90deg);
    -moz-transform:  translateY(180px) rotateX(-90deg);
    -ms-transform:  translateY(180px) rotateX(-90deg);
    -o-transform:  translateY(180px) rotateX(-90deg);
    transform:  translateY(180px) rotateX(-90deg);
}